<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/abstract/document/10137125">Achieving Datacenter-scale Performance through Chiplet-based Manycore Architectures</a>.
			</span><br />
			<span class="authors">
				Harsh Sharma, Sumit K. Mandal, J. R. Doppa, Umit Ogras, and Partha Pratim Pande.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/document/9852792">SWAP: A Server-scale Communication aware chiplet based manycore PIM architecture</a>.
			</span><br />
			<span class="authors">
				Harsh Sharma, Sumit K. Mandal, J. R. Doppa, Umit Ogras, and Partha Pratim Pande.
			</span><br />
			<span class="venuetype"></span><span class="venue">TCAD</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
